body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

li {
  list-style-type: none;
}

header,
footer {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  background-image: url(../img/lightbeam-icon.svg);
  width: 80px;
  height: 80px;
  display: inline-block;
}

.logo-text {
  font-size: 32px;
}

footer {
  border-top: 1px solid #ccc;
  justify-content: center;
  height: 40px;
}

.container {
  flex-grow: 1;
  display: flex;
  height: calc(100vh - 122px);
}

.sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  overflow-x: scroll;
}

.main {
  flex-grow: 1;
  display: flex;
}

.world-map {
  flex-grow: 1;
}

.modal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #000;
  opacity: 0.9;
  color: #fff;
  overflow: hidden;
  text-align: center;
  max-width: 50%;
}

.tooltip {
  background: #000;
  color: #fff;
  padding: 10px;
  position: absolute;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #efefef;
  color: #111;
  cursor: pointer;
}

.visualization {
  flex-grow: 1;
  position: relative;
  height: 50%;
}

.information {
  display: flex;
  color: #fff;
}

.mobile,
.news {
  flex-grow: 1;
  text-align: center;
}

.list__item {
  padding-bottom: 4px;
  cursor: pointer;
}

.list__item:hover {
  text-decoration: underline;
}
